In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv('train.csv', usecols = ['Sex', 'SibSp', 'Age', 'Survived'], converters = {'Sex': lambda x: 'M' if x=='male' else 'F' if x == 'female' else x})

In [3]:
df

     Survived Sex   Age  SibSp
0           0   M  22.0      1
1           1   F  38.0      1
2           1   F  26.0      0
3           1   F  35.0      1
4           0   M  35.0      0
..        ...  ..   ...    ...
886         0   M  27.0      0
887         1   F  19.0      0
888         0   F   NaN      1
889         1   M  26.0      0
890         0   M  32.0      0

[891 rows x 4 columns]

In [4]:
df.isnull().mean()*100

Survived     0.00000
Sex          0.00000
Age         19.86532
SibSp        0.00000
dtype: float64

In [5]:
x = df.drop(columns = ['Survived'])
y = df['Survived']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(x , y, test_size = 0.2, random_state = 42)

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()
le.fit(X_train['Sex'])
X_train['Sex'] = le.transform(X_train['Sex'])
X_test['Sex'] = le.transform(X_test['Sex'])

In [9]:
le.classes_

array(['F', 'M'], dtype=object)

In [10]:
X_train.sample(10)

     Sex   Age  SibSp
156    0  16.0      0
351    1   NaN      0
839    1   NaN      0
534    0  30.0      0
353    1  25.0      1
21     1  34.0      0
166    0   NaN      0
725    1  20.0      0
783    1   NaN      1
247    0  24.0      0

In [11]:
imputer = IterativeImputer()
X_train_trf = imputer.fit_transform(X_train)
X_test_trf = imputer.transform(X_test)

In [12]:
lr = LogisticRegression()
lr.fit(X_train_trf,y_train)
y_predict = lr.predict(X_test_trf)

In [13]:
accuracy_score(y_test,y_predict)

0.7821229050279329

In [14]:
import numpy as np
np.mean(cross_val_score(lr,X_test_trf,y_test,scoring = 'accuracy', cv = 23))

0.7771739130434784