In [1]:
import pandas as pd 
import numpy as np

In [29]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer

In [56]:
df = pd.read_csv('train.csv', usecols = ['Age', 'Fare', 'SibSp','Parch','Survived'])

In [57]:
df.head()

   Survived   Age  SibSp  Parch     Fare
0         0  22.0      1      0   7.2500
1         1  38.0      1      0  71.2833
2         1  26.0      0      0   7.9250
3         1  35.0      1      0  53.1000
4         0  35.0      0      0   8.0500

In [58]:
df.isnull().sum()

Survived      0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [59]:
df.dropna(inplace = True)

In [60]:
df['Family'] = df['SibSp']+df['Parch']

In [61]:
df= df.drop(columns = ['Parch','SibSp'])

In [62]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns = ['Survived']),df['Survived'],test_size = 0.2,random_state = 42)

In [63]:
X_train

      Age      Fare  Family
328  31.0   20.5250       2
73   26.0   14.4542       1
253  30.0   16.1000       1
719  33.0    7.7750       0
666  25.0   13.0000       0
..    ...       ...     ...
92   46.0   61.1750       1
134  25.0   13.0000       0
337  41.0  134.5000       0
548  33.0   20.5250       2
130  33.0    7.8958       0

[571 rows x 3 columns]

In [64]:
clf = DecisionTreeClassifier()

In [65]:
clf.fit(X_train,y_train)
y_predict = clf.predict(X_test)

In [66]:
accuracy_score(y_test,y_predict)

0.6153846153846154

In [77]:
X_trf = trf.transform(X)
np.mean(cross_val_score(clf,X_trf,y,scoring = 'accuracy',cv = 10))

0.6192097026604069

# Now by converting the Family column into Binary form by Binarizer

In [67]:
from sklearn.preprocessing import Binarizer

In [68]:
trf = ColumnTransformer([('bin',Binarizer(copy = False),['Family'])], remainder = 'passthrough')

In [69]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [70]:
clf1 = DecisionTreeClassifier()
clf1.fit(X_train_trf,y_train)
y_predict_trf = clf1.predict(X_test_trf)

In [71]:
accuracy_score(y_predict_trf,y_test)

0.6153846153846154

In [75]:
X = df.drop(columns = ['Survived'])
y = df['Survived']

In [76]:
X_trf = trf.transform(X)
np.mean(cross_val_score(clf1,X_trf,y,scoring = 'accuracy',cv = 10))

0.6387715179968702